@import "overrides";

.board {
  &--wrap {
    width: 90%;
  }

  &--pink {
    background: linear-gradient(to bottom, #fffaec, #fff3db);
    height: 179px * $hd;
    width: 100%;
  }

  &--yellow {
    background: #fff8e5;
  }

  &--all {
    border-radius: $border-radius-normal;
  }

  &--top {
    border-radius: 12px * $hd 12px * $hd 0 0;
  }

  &--bottom {
    border-radius: 0 0 12px * $hd 12px * $hd;
  }

  &--yellow-light {
    background: #ffdf9a;
  }

  &--white {
    background: #ffffff;
  }

  &--grey {
    background: #f2f2f2;
  }

  &--grey--1 {
    background: #f0f4f8;
  }

  &--light-grey {
    background: #f8f8f8;
  }

  &--black {
    background: linear-gradient(9deg, rgba(0, 0, 0, 1) 0%, rgba(84, 84, 84, 1) 100%);
  }

  &--danger {
    color: #ffffff;
    background: #ff6161;
    box-shadow: 0px 3px 6px #ff3434;
  }

  &--fixed-bottom {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 9999;
  }

  &--fixed-top {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
  }

  &--shadow {
    &--gray {
      box-shadow: 0 1px * $hd 7.5px * $hd rgba(0, 0, 0, 0.1);
    }
    &--black {
      box-shadow: 0px 3px * $hd 6px * $hd rgba(37, 91, 255, 0.08);
    }
    &--red-dark {
      box-shadow: 0 -3px * $hd 10px * $hd rgba(255, 113, 41, 0.38);
    }
    &--crimson {
      box-shadow: 0 -3px * $hd 20px * $hd #e92e20;
    }
  }
}
