$hd: 2 !default; // 基本单位

$border-radius-mini : 6px * $hd !default;
$border-radius-small : 9px * $hd !default;
$border-radius-normal : 12px * $hd !default;
$border-radius-large : 16px * $hd !default;
$border-radius-huge : 20px * $hd !default;
$border-radius-super : 24px * $hd !default;

$color-yellow-0: #FFC919 !default;
