// 关于居中的一些方法
.vertical-level-center {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
}

.vertical-center {
  position: absolute;
  transform: translate(0, -50%);
  // left: 0;
  top: 50%;
}
.level-center {
  position: absolute;
  transform: translate(-50%, 0);
  left: 50%;
  top: 0;
}

// 旋转
@each $props, $abbrev in (rotate: r) {
  @each $size, $deg in ($rotates) {
    .#{$abbrev}-#{$size} {
      transform: rotate($deg)!important;
    }
  }
}
